<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.pjt.mapper.DeliveryMapper">
	
	<insert id="insertDelivery" parameterType="com.js.pjt.vo.DeliveryVO">
		insert into delivery values(#{dlvr_no}, #{ord_no}, #{dlvr_empno}, sysdate,'N', sysdate)
	</insert>
	
	<select id="selectDelivery" resultType="com.js.pjt.vo.DeliveryVO">
		select*from delivery where dlvr_no=#{dlvr_no}
	</select>
	
	<select id="selectListDelivery" resultType="com.js.pjt.vo.DeliveryVO">
		select*from delivery
	</select>
   
   	<update id="updateDelivery">
   		update delivery set dlvr_cmpl_yn,dlvr_cmpl_dttm where dlvr_cmpl_yn=#{dlvr_cmpl_yn},dlvr_cmpl_dttm=sysdate
   	</update>
   	
   	<delete id="deleteDelivery">
   		delete from delivery where dlvr_no=#{dlvr_no}
   	</delete>
</mapper>