<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.pjt.mapper.EmployeeMapper">
	<insert id="insertEmployee">
		<selectKey resultType="int" keyProperty="empNo" order="BEFORE">
			select employee_seq.nextval from dual
		</selectKey>
		insert into employee values(#{empNo },#{deptNo },#{posDvcd },#{lgnId },#{passwd },#{filePath },#{fileNm },#{empNm }
		,#{birthDt },#{gender },#{mobilePhnNo },#{emailAddr },#{hireDt },'N',null,sysdate)
	</insert>
	<update id="updateEmployee">
		update employee
		<trim prefix="set" prefixOverrides=",">
			<if test="deptNo!=0">
				dept_no=#{deptNo}
			</if>
			<if test="posDvcd!=0">
				, pos_dvcd=#{posDvcd}
			</if>
			<if test="passwd!=null and passwd!=''">
				, passwd=#{passwd}
			</if>
			<if test="filePath!=null and filePath!=''">
				, file_path=#{filePath}
			</if>
			<if test="fileNm!=null and fileNm!=''">
				, file_nm=#{fileNm}
			</if>
			<if test="mobilePhnNo!=null and mobilePhnNo!=''">
				, mobile_phn_no=#{mobilePhnNo}
			</if>
			<if test="emailAddr!=null and emailAddr!=''">
				, email_addr=#{emailAddr}
			</if>
			<if test="resgnYn!=null and resgnYn!=''">
				, file_path='resign',file_nm='resign',resgn_yn='Y', resgn_dt=sysdate
			</if>
		</trim>
		where emp_no=#{empNo}
	</update>
	
	<select id="selectEmployee" resultType="com.js.pjt.vo.EmployeeVO">
		select * from employee 
		<trim prefix="where" prefixOverrides="and |or">
			<if test="empNo!=0">
				emp_no like #{empNo}
			</if>
			<if test="lgnId!=null and lgnId!=''">
				and lgn_id like #{lgnId}
			</if>				
		</trim>
	</select>
	
	<select id="selectEmpCount" resultType="int">
		select count(*) from employee
		<where>
			<if test="keyword!=null and keyword!=''">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="deptNo!=0">
				and dept_no=#{deptNo}
			</if>
			and resgn_yn='N'
		</where> 
	</select>
	
	<select id="selectIdChech" resultType="com.js.pjt.vo.EmployeeVO">
		select * from employee where LGN_ID=#{lgnId}
	</select>
	
	<select id="selectEmployeeList" resultType="com.js.pjt.vo.EmployeeVO">
		select * from (select rownum rn, board.* from (select * from employee
		<where>
			<if test="keyword!=null and keyword!=''">
				${search} like '%'||#{keyword}||'%'
			</if>
			<if test="deptNo!=0">
				and dept_no=#{deptNo}
			</if>
			and resgn_yn='N'
		</where> 
		order by emp_no desc) board) where rn between #{startRow} and #{endRow}
	</select>
</mapper>