<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.pjt.mapper.EmployeeMapper">
	<insert id="insertEmployee">
		insert into employee values(#{empNo },#{deptNo },#{posDvcd },#{lgnId },#{passwd },#{filePath },#{fileNm },#{empNm }
		,#{birthDt },#{gender },#{mobilePhnNo },#{emailAddr },#{hireDt },0,null,sysdate)
	</insert>
</mapper>